@page
@using ZeroGravity.Shared.Models
@model ZeroGravity.Pages.EmailChangedModel

<h1>@Model.StringLocalizer[MessageType.EmailChanged.EmailChangedTitle]</h1>
<p>@Model.StringLocalizer[MessageType.EmailChanged.EmailChangedMessage]</p>

@{
}
