@page
@using ZeroGravity.Shared.Models
@model ZeroGravity.Pages.FitBitCallbackModel
@{
    <h1>@Model.StringLocalizer[MessageType.FitbitCallback.CallbackTitle]</h1>
    <p>@Model.StringLocalizer[MessageType.FitbitCallback.CallbackMessage]</p>
}
