@page
@using ZeroGravity.Shared.Models
@model ZeroGravity.Pages.RegisterWelcomeModel

<h1>@Model.StringLocalizer[MessageType.RegisterWelcome.WelcomeTitle]</h1>
<p>@Model.StringLocalizer[MessageType.RegisterWelcome.WelcomeMessage]</p>

@{
}
